@use "@/styles/tokens" as *;
@use "@/styles/mixins/typography" as *;

.button {
  @include typography($color: $color-neutral-brightest);

  z-index: 0;
  position: relative;
  background-color: transparent;
  padding: $spacing-nano $spacing-sm;
  border: $border-width-hairline solid $color-neutral-brightest;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: $spacing-quarck;
    left: $spacing-quarck;
    transition: all ease-in-out 200ms;
    background-color: $color-primary;
  }

  &:hover {
    &::before {
      left: 0;
      top: 0;
    }
  }
}
