@use "@/styles/tokens" as *;
@use "@/styles/mixins/typography" as *;

.match {
  display: grid;
  gap: $spacing-sm;
  padding: $spacing-sm;
  border-radius: $border-radius-sm;
  border: $border-width-hairline solid $color-neutral-light;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  padding: $spacing-quarck $spacing-xs;
  border-radius: $border-radius-sm;
  border: $border-width-hairline solid $color-neutral-light;

  & > p {
    @include typography(
      $font-size-xxs,
      $line-height-xxs,
      $font-weight-medium,
      $color-neutral-dark
    );
  }
}

.score {
  display: grid;
  gap: $spacing-quarck;
}

.team {
  @include typography();
}

.location {
  display: grid;
  grid-template-columns: auto auto;
  gap: $spacing-sm;
}

.dateTime {
  white-space: nowrap;
  text-align: right;
}
