@use "@/styles/base" as *;

@use "@/styles/mixins/typography" as *;
@use "@/styles/tokens/colors" as *;

* {
  @include typography();

  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a {
  color: $color-neutral-darkest;
}
