$font-family-primary: "Krona One";
$font-family-secondary: "Sen";

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-regular: 700;

$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 64px;

$line-height-xxs: 16px;
$line-height-xs: 20px;
$line-height-sm: 24px;
$line-height-md: 28px;
$line-height-lg: 80px;
